<!DOCTYPE html>
<html>

<head>
  <title>NBA赛事数据可视分析系统</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <!-- 引入的CDNJS文件 -->
  <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.bootcss.com/echarts/4.2.0-rc.2/echarts.min.js"></script>
  <script type="text/javascript" src="https://cdn.bootcss.com/heatmap.js/2.0.2/heatmap.js"></script>
</head>

<body>
  <div id="app"> </div>
  <script type="text/javascript" src="/javascripts/app.js"></script>
  <script type="text/javascript" src="/javascripts/vendor.js"></script>
</body>

</html>